NODE_ENV=development
PORT=4000
FRONTEND_URL=http://localhost:3000
DATABASE_URL=postgresql://psycare:psycare@localhost:5432/psycare?schema=public
CLINIC_TIMEZONE=Africa/Casablanca
JWT_SECRET=7a05169817137f87f6ecb7238dfd9bac
ADMIN_EMAIL=hajar.ouadoud@usmba.ac.ma
# Pour le développement uniquement :
ADMIN_PASSWORD=kahamodidiouadoudi1958
# En production, supprimer ADMIN_PASSWORD et utiliser :
# ADMIN_PASSWORD_HASH=$2b$12$...
